body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: blanchedalmond;
}

#controls{
    display: flexbox;
}

#booksarea{
    display: inline-block;
    align-content:normal;
    margin: 1%;
    background-color: rgba(0, 0, 0, 0.26);
    width: auto;
    height: auto;
}

.bookLinks{
    display: inline-block;
    margin: 20px;
    width: 180px;
    height: 200px;
}

.book{
    pointer-events: none;
    width: 100%;
    height: 100%;
}